@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.bg-body {
	background-image: url('../public/img/bg-body.svg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	background-attachment: fixed
}
